.embed {
  font-family: "Spartan", sans-serif;

  display: grid;
  text-align: center;
  align-items: center;
  margin-top: 3%;

  h1 {
    margin: 2rem;
    font-weight: 800;
    color: white;
    font-size: 3em;
    font-style: italic;
  }
  .soundcloudEmbed {
    margin: 0 auto;
    width: 30%;
  }
  .soundcloud {
      width: 60%;
      margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .embed {
    .soundcloud {
      width: 80%;
    }
  }
}

@media screen and (max-width: 500px) {
  .embed {
    .soundcloud {
      width: 95%;
      height: 60vh;
    }
  }
}