.container {
  font-family: "Spartan", sans-serif;
  margin-top: 10rem;

  .roster {
    width: 60%;
    margin: 0 auto;
    
    .rosterElement {
      display: flex;
      margin-bottom: 10em;
      justify-content: space-around;
      gap: 10em;

      .rosterInfo {
        width: 70%;
        h1 {
          margin-bottom: 1rem;
          font-weight: 800;
          color: white;
        }
        p {
          color: white;
          line-height: 1.5em;
        }

        .rosterSocial {
          * {
            margin-right: 0.5em;
          }
          font-size: 1.2em;
          margin-top: 1.5rem;
          a {
            color: white;
            transition: 0.2s all ease;
          }
          .sc:hover {
            color: #ff7700;
          }
          .yt:hover {
            color: #ff0000;
          }
          .sf:hover {
            color: #1db954;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
 .container {
   .roster {
     width: 90%;
   }
 } 
}

@media screen and (max-width: 850px) {
  .container {
    .roster {
      width: 100%;

      .rosterElement {
        display: grid;
        place-items: center;
        gap: 4em;
      }
      iframe {
        width: 70%;
      }
    }
  } 
 }

 @media screen and (max-width: 700px) {
  .container {
    .roster {
      width: 100%;

      .rosterElement {
        .rosterInfo {
          width: 80%;
        }
        iframe {
          width: 80%;
        }
      }
    }
  } 
 }

 @media screen and (max-width: 500px) {
   .container {
     .roster {
       .rosterElement {
         .rosterInfo {
           width: 90%;

           h1 {
             font-size: 1.8em;
           }
           p {
            font-size: 0.9em;
           }
         }
         iframe {
           width: 90%;
         }
       }
     }
   }
 }