.container {
  font-family: "Spartan", sans-serif;
  margin-top: 10rem;

  .roster {
    width: 60%;
    margin: 0 auto;
    
    .rosterElement {
      display: flex;
      margin-bottom: 10em;
      justify-content: space-around;
      gap: 10em;

      .rosterInfo {
        width: 70%;
        h1 {
          margin-bottom: 1rem;
          font-weight: 800;
          color: white;
          // font-style: italic;
        }
        p {
          color: white;
          line-height: 1.5em;
        }

        .rosterSocial {
          * {
            margin-right: 0.5em;
          }
          font-size: 1.2em;
          margin-top: 1.5rem;
          a {
            color: white;
            transition: 0.2s all ease;
          }
          .sc:hover {
            color: #ff7700;
          }
          .yt:hover {
            color: #ff0000;
          }
          .sf:hover {
            color: #1db954;
          }
        }
      }
    }
  }
}
